
.main-carousel {
    width: 100%;
    height: 40%;
}

.main-carousel .carousel-page-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 250px;
}

.main-carousel .carousel-page {
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
    width: 33.3%;
    height: 100%;
    overflow-x: hidden;
    transition: all 800ms;
    -webkit-transition: all 800ms;
}

.carousel-page.page-1 {
    background-color: aqua;
}

.carousel-index-list {
    display: inline-block;
    position: absolute;
    margin: -30px auto;
    width: 100%;
    text-align: center;
    padding: 0;
    list-style: none;
}

.carousel-index {
    margin: 0 7px;
    text-align: center;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid #AAA;
    border-radius: 2em;
}

.carousel-index:hover {
    cursor: pointer;
}

.carousel-index.is-checked {
    background-color: #FFF;
    border-color: #FFFFFF;
}

@media screen and (max-width: 500px) {
    .carousel-page.page-1 {
        background-image: url("/src/img/suggestion_mobile.png");
    }
}