.project {
    margin: 30px auto;
    text-align: center;
}

.project hr {
    width: 30px;
    height: 0.1px;
    background-color: #000000;
    border-color: #000000;
}

.project h4 {
    margin: 15px 0 10px 0;
    font-weight: bold;
    color: #3c3c3b;
}

.project-img {
    height: 150px;
    background-color: darkblue;
}

.project-img .status {
    float: right;
    padding: 5px 10px;
    font-size: 8px;
    font-weight: bold;
}

.status.participation {
    background-color: #fbef03;
}

.status.fail {
    background-color: #FFFFFF;
}

.status.active {
    background-color: #18c3b3;
}

.project-summary {
    height: 70px;
    background-color: #FFFFFF;
}

.each-project {
    width: 45%;
    margin: 15px 5px;
    display: inline-block;
}

.each-project.bottom {
    width: 92%;
}

.each-project h5 {
    text-align: left;
    font-size: 10px;
    margin: 0 0 0 10px;
    padding: 10px 0 0 0;
}

.each-project .percentage-zone {
    width: 90%;
    height: 5px;
    background-color: #DDDDDD;
    margin: 10px auto;
}

.percentage-zone .percentage {
    height: 5px;
    background-color: #18c3b3;
}

.each-project .count, .each-project .percentage-number {
    display: inline-block;
    font-size: 9px;
    color: #18c3b3;
    margin: 0;
}

.each-project .count {
    margin-left: 5%;
    float: left;
}

.each-project .percentage-number {
    margin-right: 5%;
    float: right;
}

.project.best {
    background-color: #fbef03;
}

