.main-img {
    width: 100%;
}

.category-list {
    list-style: none;
    padding: 0;
}

.category {
    display: inline-block;
    width: 30px;
    padding: 5px;
    background-color: #18c3b3;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.desc {
    margin: 5%;
}

h2 {
    font-size: 20px;
}

.step {
    float: right;
    display: inline-block;
    width: 50px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #fbef03;
}

.profile {
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 3em;
    background-color: #5d9eee;
}

h5.writer {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    margin: 10px 3px;
}

.percentage-zone {
    width: 95%;
    background-color: #DDDDDD;
    margin: 15px auto;
}

.percentage-zone .percentage {
    height: 5px;
    background-color: #18c3b3;
}

.count, .percentage-number {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #18c3b3;
    margin: 0;
}

.percentage-number {
    float: right;
}

.join-btn {
    display: block;
    margin: 20px auto;
    font-size: 16px;
    font-weight: bold;
    background-color: #fbef03;
    padding: 7px 20px;
    outline: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

.join-btn:hover {
    cursor: pointer;
}

ul.share-list {
    padding: 0;
    margin: -50px 0 0 10px;
    list-style: none;
    float: right;
}

ul.share-list .share {
    margin: 0 0 0 3px;
    width: 25px;
    height: 25px;
    background-color: #5d9eee;
    border-radius: 2em;
    display: inline-block;
}

div.assembly {
    margin: 40px 0 0 0;
}

div.assembly label {
    color: #666666;
}

ul#assembly-man-list {
   list-style: none;
    padding: 0;
}

ul#assembly-man-list li {
    display: inline-block;
    margin: 0 15px;
}

.assembly-man .profile-img {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 2em;
    background-color: #18c3b3;
}
.assembly-man p {
    margin: 5px 0;
    font-size: 13px;
    color: #444444;
}

ul#committee {
    list-style: none;
    padding: 0;
}

ul#committee li {
    margin: 3px 5px;
    padding: 4px 9px;
    font-size: 12px;
    display: inline-block;
    background-color: #fd515d;
    color: #FFFFFF;
}

nav.info-subject {
    width: 100%;
}

nav.info-subject button {
    width: 32%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

nav.info-subject button.active {
    color: #18c3b3;
}

div.info-contents {
    padding: 10%;
}

div.info-contents {
    display: none;
}

div.info-contents.is-visible {
    display: block;
}

