footer {
    background-color: #383838;
    color: #AAAAAA;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #AAAAAA;
}

footer .left {
    display: inline-block;
}

.left a {
    display: block;
    margin: 5px;
}

footer .right {
    display: inline-block;
    float: right;
}

.right h6 {
    margin: 20px 0 0 0;
}
footer .right ul {
    list-style: none;
    padding: 0;
}

.right li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2em;
    background-color: #666666;
    margin: 0 3px;
}